solace-agent-mesh~=1.8.1
git+https://github.com/SolaceLabs/solace-agent-mesh-core-plugins.git@main#subdirectory=sam-rag
git+https://github.com/SolaceLabs/solace-agent-mesh-core-plugins.git@main#subdirectory=sam-mongodb
